<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servicios Integrales Spa</title>
    {% load static %}

    {% block css %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

</head>
<body>
{% block background_blur %}
  <div class="background-blur"></div>
  {% endblock %}

<header id="header">
    <img src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'app/img/serviciointegralicono.png' %}" alt="logo" class="logo">
        </a>
    </div>

    <div>
<nav id="nav">
    <ul>
        <li><a href="{% url 'galeria' %}">Galería</a></li>
        <li><a href="{% url 'horario' %}">Horario</a></li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        {% else %}
            <li><a href="{% url 'sesion' %}">Inicia sesión</a></li>
        {% endif %}
    
        {% if request.user.is_authenticated %}
            {% if request.user.rol == 'admin' %}
            <li><a href="{% url 'edit' %}">Apartado admin</a></li>
            {% endif %}
        {% endif %}



    </ul>
</nav>

    </div>
</header>

<div id="contenido">
    {% block contenido %}
    {% endblock %}
</div>

<script src="{% static 'app/js/menu.js' %}"></script>

{% block js %}
{% endblock %}
</body>
</html>
