{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}


<div class="productos">
    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/climatizacion.png' %}" alt="yoga">
        </div>

        <div class="detalles">
            <h2>Climatización</h2>
        </div>
    </div>


    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/redes-de-incendio.png'%}" alt="yoga">
        </div>

        <div class="detalles">
            <h2>Redes de Incendio</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/soldaduras.png'%}" alt="tablet">
        </div>

        <div class="detalles">
            <h2>Soldaduras</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/calefaccion.png'%}" alt="s9">
        </div>

        <div class="detalles">
            <h2>Calefacción Pellet</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/obras-menores.png'%}" alt="macbook">
        </div>

        <div class="detalles">
            <h2>Obras Menores</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/cubiertas.png'%}" alt="macbook">
        </div>

        <div class="detalles">
            <h2>Cubiertas</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/hojalateria.png'%}" alt="macbook">
        </div>

        <div class="detalles">
            <h2>Hojalateria</h2>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/andamios.png'%}" alt="macbook">
        </div>

        <div class="detalles">
            <h2>Arriendo Andamios</h2>
        </div>
    </div>

</div>



{% endblock %}

