{% extends 'app/base.html' %}
{% load static %}

{% block background_blur %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/sesion.css' %}">
{% endblock %}

{% block contenido %}
<div class="wrapper">
        <form method="POST" action="{% url 'registro' %}">
  {% csrf_token %}

  {% if messages %}
  {% for message in messages %}
    <p style="text-align: center; color:
      {% if message.tags == 'error' %}
        red
      {% elif message.tags == 'success' %}
        green
      {% else %}
        black
      {% endif %}
    ">{{ message }}</p>
  {% endfor %}
{% endif %}


    <h1>Registrate</h1>

  <div class="input-box">
      <input type="text" name="username" placeholder="Nombre" required>
  </div>
  <div class="input-box">
      <input type="text" name="email" placeholder="Correo" required>
  </div>
  <div class="input-box">
      <input type="password" name="password" placeholder="Contraseña" required>
  </div>

  <button type="submit" class="btn">Registrarse</button>
</form>

</div>
{% endblock %}
