@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.calendar {
    justify-content: center;
    transform: translateY(20px);
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear{
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day{
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active{
    background: #d3342ef3;
    color: #fff;
}
.date.inactive{
    color: #999FA6;
}
.date.inactive:hover{
    color: #fff;
}

.detalle-horario {
    flex: 1;
    min-width: 320px;
    max-width: 600px;
    padding: 25px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.detalle-horario h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}


.trabajador-item {
    background-color: #ffffff;
    padding: 12px 18px;
    margin-bottom: 12px;
    border-radius: 10px;
    border-left: 5px solid #d3342ef3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.trabajador-item span {
    font-weight: 500;
    color: #444;
}

.horario-contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 40px;
}

