@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin:0;
    padding:0;
}

body {
  background: url("/static/app/img/pexels-rezwan-1216544.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5); /* opcional */
  z-index: -1;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

nav > ul > li > a {
    font-size: 16px;
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #000000, #C47F17); /* De negro a mostaza oscuro */
    color: white;
    display: flex;
}

header > div {
    width: 50%;
}

img {
    border-radius: 0; /* Ajusta el valor para hacer los bordes más o menos redondeados */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}

img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
}


input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 5px 10px;
}

.button {
    padding: 5px 10px;
    border: none;
    color:white;
    border-radius: 5px;
}

.button.primary {
    background-color: #2B6CB0;
}

.button.secondary {
    background-color: #4A5568;
}


.contenedor_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 20px;
}

nav > ul > li {
    display: inline;
    margin-left: 10px;
}

nav > ul > li > a {
    color:white;
    text-decoration: none;
}


#contenido {
    width: 80%;
    margin: auto;
    max-width: 1280px;
    min-height: 80vh;
}

.servicios {
  flex: 0 0 60%; /* Mantén el ancho que ocupa */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  gap: 15px; /* espacio entre servicios */
  align-items: start; /* para que no estiren verticalmente */
}


@keyframes animacion_servicio_desktop {
    0% {
        transform: rotate(-20deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0);
        opacity: 1;
    }
}


.servicios .servicio {
  width: 100%; /* que cada servicio ocupe el ancho de su grid cell */
  margin-top: 15px;
  animation: animacion_servicio_desktop 0.5s;
}


.servicios .servicio img {
    width: 80%;
    height: 200px;
    object-fit: cover;
}

.servicios .servicio .contenedor_servicio {
    background-color: transparent;
    width: 80%;
    margin:auto;
}

.servicios .servicio .detalles {
    padding: 5px;
    font-size: 14px;
}

.contenido-principal {
  display: flex;
  gap: 20px; /* espacio entre servicios y galería */
}



/*FOOTER*/

footer {
    width: 100%;
    height: 300px;
    background-color: #2D3748;
}

footer .marcas {
    width: 100%;
    height: 100px;
    background-color: #4A5568;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .marcas img {
    width: 50px;
    border-radius: 0;  /* No aplica borde redondeado */
    transition: none;   /* Sin animación */
    box-shadow: none;
}

footer .logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100% - 100px);
}

footer .logo_footer img {
    width: 100px;
    border-radius: 0;  /* No aplica borde redondeado */
    transition: none;   /* Sin animación */
    box-shadow: none;
}

.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}

label.error {
    color: darkred;
}

input.error {
    border: 2px solid darkred;
}


/*MEDIA QUERIES*/

/*TABLET*/

@media(max-width:1024px) {

    @keyframes animacion_servicio_tablet {

        0% {
            opacity: 0;/*0-1*/
        }

        100% {
            opacity: 1;
        }

    }

    .servicios .servicio {
        width: 50%;
        animation: animacion_servicio_tablet 2s;
    }

}

/*SMARTPHONE*/
@media(max-width:480px) {

    .menu {
        display: block;
    }

    @keyframes animacion_servicio_smartphone {

        0% {
            transform: scale(0.1);/*0 - 1*/
        }

        80%{
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }


    .servicios .servicio {
        width: 100%;
        animation: animacion_servicio_smartphone 0.8s;
    }

    header {
        flex-direction: column;
        height: 60px;
        transition: all 0.8s;
        /*position: fixed;
        left:0;
        top:0;*/
        overflow: hidden;
    }

    #contenido {
        margin-top: 60px;
    }

    header > div {
        width: 100%;
    }

    nav {
        justify-content: center;
    }

    .contenedor_logo {
        justify-content: center;
    }

    .logo {
        margin-top: 15px;
    }

    nav > ul {
        margin-right: 0;
    }

    nav > ul > li {
        display: block;
        margin:0;
        text-align: center;
        padding: 20px 0;
    }

}

