.slider-container {
  position: relative;
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
  max-width: 1260px; /* 3 imágenes de 420px */
}

.slider {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slider-track img {
  width: 200px;
  margin: 0 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

#prev {
  left: 0;
}
#next {
  right: 0;
}
